{
  "extends": "eslint-config-airbnb/base",
  "ecmaFeatures": {
    "modules": true,
    "destructuring": true,
    "spread": true,
    "experimentalObjectRestSpread": true,
  },
  "env": {
    "node": true
  }
}
